<div class="ui-g" style="margin-left: 420px;">
  <div class="ui-g-12">
    <label class="ui-g-2">Nom d'utilisateur :</label>
    <div class="ui-g-2">
      <input type="text" [(ngModel)]="signUser.login" pInput [disabled]="disabled">
    </div>
  </div>
  <div class="ui-g-12">
    <label class="ui-g-2">Mot de passe :</label>
    <div class="ui-g-2">
      <input type="password" pPassword [(ngModel)]="signUser.password" pInput [disabled]="disabled">
    </div>
  </div>
  <div class="ui-g-12">
      <button pButton type="button" class="btn btn-primary" (click)="onLogin()" style="width:unset" label="Connection"></button>
      <button pButton type="button" class="btn btn-pdefault" (click)="showAdd()" style="width:unset" label="Register Now"></button>      
  </div>
</div>

<p-dialog header="Enregistrement d'un Utilisateur" [(visible)]="popUpVisibility">
  <div class="ui-g">
    <div class="ui-g-12">
      <label class="ui-g-6">Nom d'utilisateur :</label>
      <div class="ui-g-6">
          <input type="text" [(ngModel)]="modalUser.login" pInput>
      </div>      
    </div>
    <div class="ui-g-12">
      <label class="ui-g-6">Mot de passe :</label>
      <div>
          <input type="password" pPassword [(ngModel)]="modalUser.password" pInput>          
      </div>
    </div>
    <div class="ui-g-12 ui-rtl" dir="rtl">
        <button pButton type="button" class="btn btn-pdefault" (click)="onRegister()" style="width:unset" label="Ajouter"></button>              
    </div>
  </div>
</p-dialog>