<div class="ui-grid-row">
    <div class="ui-grid-col-6">
        <p-dataList [value]="faires" [lazy]="true">
            <p-header style="text-align:left">
                <div class="ui-grid-row">
                    <label class="ui-grid-col-11">Vos Activités</label>
                </div>
            </p-header>
            <ng-template let-faire pTemplate="item">
                <div class="ui-grid-row" style="padding-top: 5px">
                    <label class="ui-grid-col-11">{{faire.activite.libelle}}</label>
                    <button pButton type="button" icon="fa-info" (click)="selectFaire(faire)" style="width: unset;"></button>
                </div>
            </ng-template>
        </p-dataList>
    </div>
    <div class="ui-grid-col-6" *ngIf="!isUndefined(selectedFaire)">
        <p-dataList [value]="selectedFaire.spots" [lazy]="true">
            <p-header>Vos spots</p-header>
            <ng-template let-spot pTemplate="item">
                <div class="ui-grid-row" style="padding-top: 5px">
                    <label class="ui-grid-col-11">{{spot.libelle}}</label>
                    <button pButton type="button" icon="fa-cloud" (click)="selectSite(spot)" style="width: unset;"></button>
                </div>   
            </ng-template>
        </p-dataList>
    </div>
</div>




<!--<p-dataList [value]="faires" [lazy]="true">
    <p-header>Vos Activités</p-header>
    <ng-template let-faire pTemplate="item">
        <div (click)="surClick(faire)">
            {{faire.activite.libelle}}  
        </div>    
    </ng-template>
</p-dataList>
 
<div *ngIf="!isUndefined(selectedFaire)">
    {{selectedFaire.activite.libelle}}
    <p-dataList [value]="selectedFaire.spots" [lazy]="true">
        <p-header>Vos spots</p-header>
        <ng-template let-spot pTemplate="item">
            <div>
                {{spot.libelle}}
            </div>    
        </ng-template>
    </p-dataList>
</div>-->

