<div class="ui-grid-row">
    <div class="ui-grid-col-6">
        <p-dataList [value]="faires" [lazy]="true">
            <p-header style="text-align:left">
                <div class="ui-grid-row">
                    <label class="ui-grid-col-11">Vos Activités</label>
                </div>
            </p-header>
            <ng-template let-faire pTemplate="item">
                <div class="ui-grid-row" style="padding-top: 5px">
                    <label class="ui-grid-col-11">{{faire.activite.libelle}}</label>
                    <button pButton type="button" icon="fa-info" (click)="selectFaire(faire)" style="width: unset;"></button>
                </div>
            </ng-template>
        </p-dataList>
    </div>
    <div class="ui-grid-col-6" *ngIf="!isUndefined(selectedFaire)">
        <p-dataList [value]="selectedFaire.spots" [lazy]="true">
            <p-header>Vos spots</p-header>
            <ng-template let-spot pTemplate="item">
                <div class="ui-grid-row" style="padding-top: 5px">
                    <label class="ui-grid-col-11">{{spot.libelle}}</label>
                    <button pButton type="button" icon="fa-cloud" (click)="selectSite(spot)" style="width: unset;"></button>
                </div>   
            </ng-template>
        </p-dataList>
    </div>
</div>
<p-panel class="ui-grid-row" *ngIf="!isUndefined(selectedSpot)">
    <p-header>
        <div class="ui-grid-row">
        <label class="ui-grid-col-11">conditons of {{selectedSpot.libelle}}</label>
    </div>
    </p-header>
</p-panel>

