
<p-dataList [value]="faires" [lazy]="true">
    <p-header>Vos Activités</p-header>
    <ng-template let-faire pTemplate="item">
        <div (click)="surClick(faire)">
            {{faire.activite.libelle}}  
        </div>    
    </ng-template>
</p-dataList>
 
<div *ngIf="!isUndefined(selectedFaire)">
    {{selectedFaire.activite.libelle}}
    <p-dataList [value]="selectedFaire.spots" [lazy]="true">
        <p-header>Vos spots</p-header>
        <ng-template let-spot pTemplate="item">
            <div>
                {{spot.libelle}}
            </div>    
        </ng-template>
    </p-dataList>-->
</div>

