<div class="ui-grid-row">
    <div class="ui-grid-col-6">
        <p-dataList [value]="faires" [lazy]="true">
            <p-header style="text-align:left">
                <div class="ui-grid-row">
                    <label class="ui-grid-col-11">Vos Activités</label>
                    <button pButton type="button" icon="fa-plus" (click)="showModal()" style="width: unset"></button>
                </div>
            </p-header>
            <ng-template let-faire pTemplate="item">
                <div class="ui-grid-row" style="padding-top: 5px">
                    <label class="ui-grid-col-11">{{faire.activite.libelle}}</label>
                    <button pButton type="button" icon="fa-info" (click)="showDetail(faire)" style="width: unset;"></button>
                </div>
            </ng-template>
        </p-dataList>
    </div>
    <div class="ui-grid-col-6">
        <comp-activiteDetail [(ngModel)]="detailFaire" *ngIf="!isUndefined(detailFaire)" 
                disabled="true" editable="true" deleted="true"
                (isDelete)="delete()" (update)="update()"></comp-activiteDetail>
    </div>
</div>

<p-dialog header="Ajout d'une activite" [(visible)]="popUpVisibility">
    <comp-activiteDetail [(ngModel)]="addFaire" *ngIf="!isUndefined(addFaire)"></comp-activiteDetail>
        <div class="ui-rtl" dir="rtl" style="padding-top:5px">
                <button pButton type="button" (click)="Addsubmit()" label="Ajouter" style="width:unset"></button>            
            </div>
</p-dialog>