<p-dataList [value]="userActivity" [lazy]="true">
    <p-header style="text-align:left">Vos Activités<button pButton type="button" icon="fa-plus" (click)="showModal()" style="float:right"></button></p-header>
    <ng-template let-act pTemplate="item">
        <div>
            {{act.libelle}}
        </div>
    </ng-template>
</p-dataList>

<p-dialog header="Ajout d'une activite" [(visible)]="popUpVisibility">
    <div *ngIf="!isUndefined(addActivity)">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Activite *:
            </div>
            <div class="ui-grid-col-6">
                <p-dropdown [options]="allActivity" [(ngModel)]="addActivity.activite" [autoWidth]="false"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <comp-spotModif [(ngModel)]="addActivity.spots"></comp-spotModif>
        </div>
        <div class="ui-grid-row">
            <comp-niveau [(ngModel)]="addActivity.niveau"></comp-niveau>
        </div>
    </div>
    <button pButton type="button" (click)="Addsubmit()" label="Ajouter"></button>
</p-dialog>