<p-fieldset legend="Niveau" class="ui-grid-col-12">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <label>température (en degrée) :</label> {{temperatureRange[0]}} - {{temperatureRange[1]}}
                
            </div>
            <div class="ui-grid-col-8">
                <p-slider [(ngModel)]="temperatureRange" (onChange)="sliderChange()" [range]="true" [min]="-5" [max]="40" [disabled]="disabled"></p-slider>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <label>précipitation (en mm) :</label>{{niveau.precipitation}}
            </div>
            <div class="ui-grid-col-8">
                <p-slider [(ngModel)]="niveau.precipitation" (onChange)="sliderChange()" [min]="0" [max]="10" [disabled]="disabled"></p-slider>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <label>vent (en noeud) :</label> {{ventRange[0]}} - {{ventRange[1]}}
            </div>
            <div class="ui-grid-col-8">
                <p-slider [(ngModel)]="ventRange" (onChange)="sliderChange()" [range]="true" [min]="0" [max]="50" [disabled]="disabled"></p-slider>                            
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                <label>vague (en m) :</label> {{vagueRange[0]/10}} - {{vagueRange[1]/10}}
            </div>
            <div class="ui-grid-col-8">
                <p-slider [(ngModel)]="vagueRange" (onChange)="sliderChange()" [range]="true" [min]="0" [max]="50" [disabled]="disabled"></p-slider>                            
            </div>
        </div>
    </p-fieldset>